.list {
    list-style: none;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
}

.contact {
    display: flex;
    align-items: center;
}

.contact p {
    margin-right: 12px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}

.btn:hover,
.btn:focus {
    color: aliceblue;
    background-color: rgb(229, 94, 105);
}

.btn span {
    margin-right: 5px;
}

.form {
    width: 650px;
    margin: 100px auto;
    padding: 20px 40px;
    border: 2px solid rgb(229, 94, 105);
    border-radius: 2px;
    box-shadow: 2px 2px 3px rgb(20, 13, 49);
    font-family: Georgia, 'Times New Roman', Times, serif;
}